--extra-index-url https://download.pytorch.org/whl/cu118
torch
torchvision
torchaudio
transformers
accelerate
bitsandbytes
datasets
peft
scikit-learn
sentencepiece
trl
protobuf
ipykernel
wandb
onnxruntime-gpu
olive-ai
promptflow
promptflow-tools
gradio
