{
    "copies": [
        {
            "src": "bert_qdq_amd.json.config",
            "dst": "bert_qdq_qnn.json.config",
            "replacements": [
                {
                    "find": "bert/bert_ptq_qdq_vitis_ai.json",
                    "replace": "bert/bert_ptq_qdq.json"
                },
                {
                    "find": "Convert to AMD NPU",
                    "replace": "Convert to Qualcomm NPU"
                }
            ]
        }
    ]
}
