{
    "workflows": [
        {
            "name": "Convert to QNN",
            "file": "bert_qdq_qnn.json",
            "templateName": "bert_qdq_qnn"
        },
        {
            "name": "Convert to AMD NPU",
            "file": "bert_qdq_amd.json",
            "templateName": "bert_qdq_amd"
        },
        {
            "name": "Convert to Intel NPU",
            "file": "bert_ov.json",
            "templateName": "bert_ov"
        },
        {
            "name": "Convert to NVIDIA GPU (TRT RTX)",
            "file": "bert_trtrtx.json",
            "template": "huggingface/Intel/bert-base-uncased-mrpc",
            "version": 1,
            "templateName": "bert_trtrtx"
        }
    ],
    "modelInfo": {
        "id": "huggingface/Intel/bert-base-uncased-mrpc",
        "version": 1
    }
}