{
    "workflows": [
        {
            "name": "Convert to QDQ",
            "file": "bert_ptq_qnn.json",
            "template": "huggingface/Intel/bert-base-uncased-mrpc",
            "version": 1,
            "templateName": "bert_ptq_qnn"
        },
        {
            "name": "Convert to Intel NPU",
            "file": "bert_ov.json",
            "template": "huggingface/Intel/bert-base-uncased-mrpc",
            "version": 1,
            "templateName": "bert_ov"
        }
    ],
    "modelInfo": {
        "id": "huggingface/Intel/bert-base-uncased-mrpc"
    }
}