{
    "workflows": [
        {
            "name": "Convert to QNN",
            "file": "phi3_5_qdq_config.json",
            "template": "huggingface/microsoft/Phi-3.5-mini-instruct",
            "version": 1,
            "templateName": "phi3_5_qdq_config",
            "phases": [
                "Conversion",
                "Quantization"
            ],
            "useModelBuilder": true
        }
    ],
    "modelInfo": {
        "displayName": "microsoft/Phi-3.5-mini-instruct",
        "icon": "ms",
        "modelLink": "https://huggingface.co/microsoft/Phi-3.5-mini-instruct",
        "id": "huggingface/microsoft/Phi-3.5-mini-instruct",
        "runtimes": [
            "QNN"
        ],
        "architecture": "Transformer",
        "status": "Ready",
        "version": 1
    }
}