{
    "workflows": [
        {
            "name": "Convert to QNN",
            "file": "phi3_5_qnn_config.json",
            "template": "huggingface/microsoft/Phi-3.5-mini-instruct",
            "version": 1,
            "templateName": "phi3_5_qnn_config"
        }
    ],
    "modelInfo": {
        "id": "huggingface/microsoft/Phi-3.5-mini-instruct"
    }
}