{
    "workflows": [
        {
            "file": "phi3_5_qnn_config.json",
            "templateName": "phi3_5_qnn_config"
        },
        {
            "file": "phi3_5_vitis_ai_config.json",
            "templateName": "phi3_5_vitis_ai_config"
        },
        {
            "file": "phi3_5_ov_config.json",
            "templateName": "phi3_5_ov_config"
        },
        {
            "file": "phi3_5_trtrtx_config.json",
            "templateName": "phi3_5_trtrtx_config"
        },
        {
            "file": "phi3_5_dml_config.json",
            "templateName": "phi3_5_dml_config"
        }
    ],
    "modelInfo": {
        "id": "huggingface/microsoft/Phi-3.5-mini-instruct",
        "version": 1
    }
}
