{
    "copies": [
        {
            "src": "bert-base-multilingual-cased_qdq_amd.json.config",
            "dst": "bert-base-multilingual-cased_qdq_qnn.json.config",
            "replacements": [
                {
                    "find": "bert/google_bert_qdq_vitis_ai.json",
                    "replace": "bert/google_bert_qdq.json"
                },
                {
                    "find": "Convert to AMD NPU",
                    "replace": "Convert to Qualcomm NPU"
                }
            ]
        },
        {
            "src": "../../../Intel/bert-base-uncased-mrpc/1/winml.py",
            "dst": "winml.py"
        }
    ]
}
