{
    "workflows": [
        {
            "file": "bert-base-multilingual-cased_qdq_qnn.json",
            "templateName": "bert-base-multilingual-cased_qdq_qnn"
        },
        {
            "file": "bert-base-multilingual-cased_qdq_amd.json",
            "templateName": "bert-base-multilingual-cased_qdq_amd"
        },
        {
            "file": "bert-base-multilingual-cased_context_ov_static.json",
            "templateName": "bert-base-multilingual-cased_context_ov_static"
        },
        {
            "file": "bert-base-multilingual-cased_trtrtx.json",
            "templateName": "bert-base-multilingual-cased_trtrtx"
        },
        {
            "file": "bert-base-multilingual-cased_dml.json",
            "templateName": "bert-base-multilingual-cased_dml"
        }
    ],
    "modelInfo": {
        "id": "huggingface/google-bert/bert-base-multilingual-cased",
        "version": 1
    }
}
