[
    {
        "groupId": "data",
        "fields": [
            {
                "type": "Integer",
                "defaultValue": 42,
                "info": "Seed for sampling the data.",
                "label": "Random seed:",
                "replaceToken": "<training_args_seed>"
            },
            {
                "type": "String",
                "label": "Training Dataset name:",
                "info": "Dataset to train the model from a local file.",
                "replaceToken": "<data_configs_data_files>",
                "optionValues": [
                    "dataset/train.json"
                ],
                "defaultValue": "dataset/train.json",
                "fileName": "train.json"
            },
            {
                "type": "String",
                "label": "Test Dataset name:",
                "info": "Dataset to evaluate the model from a local file.",
                "replaceToken": "<data_configs_data_files>",
                "optionValues": [
                    "dataset/test.json"
                ],
                "defaultValue": "dataset/test.json",
                "fileName": "test.json"
            },
            {
                "type": "Integer",
                "defaultValue": null,
                "info": "Number of samples to load from the train set for finetuning.",
                "label": "Number of finetuning samples:",
                "replaceToken": "<finetune_train_nsamples>"
            },
            {
                "type": "Integer",
                "defaultValue": null,
                "info": "Number of samples to load from the test set for finetuning.",
                "label": "Number of test samples:",
                "replaceToken": "<finetune_test_nsamples>"
            },
            {
                "type": "Integer",
                "defaultValue": 2,
                "info": "Batch size for training.",
                "label": "Training batch size:",
                "replaceToken": "<finetune_train_batch_size>"
            },
            {
                "type": "Integer",
                "defaultValue": 2,
                "info": "Batch size for evaluation/testing.",
                "label": "Test batch size:",
                "replaceToken": "<finetune_test_batch_size>"
            }
        ],
        "title": "Data"
    },
    {
        "groupId": "finetuning",
        "fields": [
            {
                "type": "Integer",
                "defaultValue": 2048,
                "info": "Maximum input size for the model. Will filter out data samples longer than this.",
                "label": "Max input size:",
                "replaceToken": "<max_input_size>"
            },
            {
                "type": "String",
                "defaultValue": "You are AI assistant, please solve the request from a user:",
                "info": "Initial prompt for initializing the virtual tokens.",
                "label": "Initial prompt:",
                "replaceToken": "<init_prompt>"
            },
            {
                "type": "Integer",
                "defaultValue": 64,
                "info": "Number of virtual tokens for the prompt tuning.",
                "label": "Number of virtual tokens:",
                "replaceToken": "<number_of_virtual_tokens>"
            },
            {
                "type": "Number",
                "defaultValue": 3e-05,
                "info": "Learning rate for training the soft prompts.",
                "label": "Learning rate:",
                "replaceToken": "<learning_rate>"
            },
            {
                "type": "Integer",
                "defaultValue": 5,
                "info": "Number of evaluations with no improvement after which training will be stopped.",
                "label": "Early stopping patience:",
                "replaceToken": "<early_stopping_patience>"
            },
            {
                "type": "Integer",
                "defaultValue": 1,
                "info": "Number of total epochs to run.",
                "label": "Epochs:",
                "replaceToken": "<training_args_epochs>"
            },
            {
                "type": "String",
                "defaultValue": "steps",
                "info": "Evaluation strategy to use.",
                "label": "Evaluation strategy:",
                "optionValues": [
                    "steps",
                    "epoch",
                    "no"
                ],
                "replaceToken": "<evaluation_strategy>"
            },
            {
                "type": "Integer",
                "defaultValue": 8,
                "info": "Number of training steps to perform before each evaluation.",
                "label": "Steps between evaluations:",
                "replaceToken": "<eval_steps>"
            },
            {
                "type": "Integer",
                "defaultValue": 64,
                "info": "Number of steps after which to save model checkpoint. This _must_ be a multiple of the number of steps between evaluations.",
                "label": "Steps between checkpoints:",
                "replaceToken": "<save_steps>"
            }
        ],
        "title": "Finetuning"
    }
]