[
    {
        "groupId": "data",
        "fields": [
            {
                "type": "String",
                "label": "Training Dataset name:",
                "info": "Dataset to train the model from a local file.",
                "defaultValue": "",
                "fileName": "train.json",
                "required": true,
                "sample": "{\"messages\":[{\"content\":\"Hello, bot.\",\"role\":\"user\"},{\"content\":\"Hi! How can I assist?\",\"role\":\"assistant\"}]}\n{\"messages\":[{\"content\":\"Who are you?\",\"role\":\"user\"},{\"content\":\"I am your assistant.\",\"role\":\"assistant\"}]}"
            },
            {
                "type": "String",
                "label": "Test Dataset name:",
                "info": "Dataset to evaluate the model from a local file.",
                "defaultValue": "",
                "fileName": "test.json",
                "required": true,
                "sample": "{\"messages\":[{\"content\":\"Hello, bot.\",\"role\":\"user\"},{\"content\":\"Hi! How can I assist?\",\"role\":\"assistant\"}]}\n{\"messages\":[{\"content\":\"Who are you?\",\"role\":\"user\"},{\"content\":\"I am your assistant.\",\"role\":\"assistant\"}]}"
            }
        ],
        "title": "Data"
    },
    {
        "groupId": "finetuning",
        "fields": [
            {
                "type": "String",
                "defaultValue": "Classify sentiment and topic of financal news in this format: topic=\"?\"; sentiment=\"?\";",
                "info": "Initial prompt for initializing the virtual tokens.",
                "label": "Initial prompt:",
                "id": "init_prompt",
                "required": true
            },
            {
                "type": "Integer",
                "defaultValue": 64,
                "info": "Number of virtual tokens for the prompt tuning.",
                "label": "Number of virtual tokens:",
                "id": "number_of_virtual_tokens",
                "optionValues": [
                    32,
                    64,
                    128,
                    256,
                    512
                ],
                "required": true
            },
            {
                "type": "Number",
                "defaultValue": 3e-05,
                "info": "Learning rate for training the soft prompts.",
                "label": "Learning rate:",
                "id": "learning_rate",
                "min": 1e-4,
                "max": 1e-2,
                "required": true
            }
        ],
        "title": "Finetuning"
    }
]