{
    "workflows": [
        {
            "name": "Convert to Intel NPU",
            "file": "phi4_ov_config.json",
            "template": "huggingface/microsoft/Phi-4-mini-reasoning",
            "version": 1,
            "templateName": "phi4_ov_config"
        }
    ],
    "modelInfo": {
        "id": "huggingface/microsoft/Phi-4-mini-reasoning"
    }
}