{
    "workflows": [
        {
            "name": "Convert Text Model to QDQ",
            "file": "openai_clip_text_qnn.json",
            "template": "huggingface/openai/clip-vit-base-patch32",
            "version": 1,
            "templateName": "openai_clip_text_qnn",
            "phases": [
                "Conversion",
                "Quantization",
                "Evaluation"
            ]
        },
        {
            "name": "Convert Vision Model to QDQ",
            "file": "openai_clip_vision_qnn.json",
            "template": "huggingface/openai/clip-vit-base-patch32",
            "version": 1,
            "templateName": "openai_clip_vision_qnn",
            "phases": [
                "Conversion",
                "Quantization",
                "Evaluation"
            ]
        }
    ],
    "modelInfo": {
        "id": "huggingface/openai/clip-vit-base-patch32"
    }
}