{
    "workflows": [
        {
            "name": "Convert Text Model to QNN",
            "file": "openai_clip_text_qnn.json",
            "template": "huggingface/openai/clip-vit-base-patch32",
            "version": 1,
            "templateName": "openai_clip_text_qnn"
        },
        {
            "name": "Convert Vision Model to QNN",
            "file": "openai_clip_vision_qnn.json",
            "template": "huggingface/openai/clip-vit-base-patch32",
            "version": 1,
            "templateName": "openai_clip_vision_qnn"
        },
        {
            "name": "Convert to AMD NPU",
            "file": "openai_clip_qdq_amd.json",
            "template": "huggingface/openai/clip-vit-base-patch32",
            "version": 1,
            "templateName": "openai_clip_qdq_amd"
        },
        {
            "name": "Convert to Intel NPU",
            "file": "openai_clip_ov.json",
            "template": "huggingface/openai/clip-vit-base-patch32",
            "version": 1,
            "templateName": "openai_clip_ov"
        },
        {
            "name": "Convert to NVIDIA GPU (TRT RTX)",
            "file": "openai_clip_trtrtx.json",
            "template": "huggingface/openai/clip-vit-base-patch32",
            "version": 1,
            "templateName": "openai_clip_trtrtx"
        }
    ],
    "modelInfo": {
        "id": "huggingface/openai/clip-vit-base-patch32"
    }
}