{
    "copies": [
        {
            "src": "../../Qwen2.5-7B-Instruct/1/model_project.config",
            "dst": "model_project.config",
            "replacements": [
                {
                    "find": "Qwen2.5-7B-Instruct",
                    "replace": "Qwen2.5-Coder-0.5B-Instruct"
                }
            ]
        },
        {
            "src": "../../Qwen2.5-7B-Instruct/1/inference_sample.ipynb",
            "dst": "inference_sample.ipynb",
            "replacements": []
        },
        {
            "src": "../../Qwen2.5-7B-Instruct/1/inference_model.json",
            "dst": "inference_model.json",
            "replacements": []
        },
        {
            "src": "../../Qwen2.5-7B-Instruct/1/qwen2_5_ov_config.json",
            "dst": "qwen2_5_ov_config.json",
            "replacements": [
                {
                    "find": "Qwen2.5-7B-Instruct",
                    "replace": "Qwen2.5-Coder-0.5B-Instruct"
                }
            ]
        },
        {
            "src": "../../Qwen2.5-7B-Instruct/1/qwen2_5_ov_config.json.config",
            "dst": "qwen2_5_ov_config.json.config",
            "replacements": [
                {
                    "find": "Qwen2.5-7B-Instruct",
                    "replace": "Qwen2.5-Coder-0.5B-Instruct"
                }
            ]
        },
        {
            "src": "../../Qwen2.5-7B-Instruct/1/README.md",
            "dst": "README.md",
            "replacements": [
                {
                    "find": "Qwen2.5-7B-Instruct",
                    "replace": "Qwen2.5-Coder-0.5B-Instruct"
                }
            ]
        },
        {
            "src": "../../Qwen2.5-7B-Instruct/1/requirements.txt",
            "dst": "requirements.txt"
        }
    ]
}
