{
    "copies": [
        {
            "src": "resnet_qdq_amd.json.config",
            "dst": "resnet_qdq_qnn.json.config",
            "replacements": [
                {
                    "find": "resnet/resnet_ptq_qdq_vitis_ai.json",
                    "replace": "resnet/resnet_ptq_qdq.json"
                }
            ]
        }
    ]
}