{
    "workflows": [
        {
            "name": "Convert to QDQ",
            "file": "resnet_ptq_qnn.json",
            "template": "huggingface/microsoft/resnet-50",
            "version": 1,
            "templateName": "resnet_ptq_qnn"
        }
    ],
    "modelInfo": {
        "id": "huggingface/microsoft/resnet-50"
    }
}