{
    "workflows": [
        {
            "name": "Convert to QDQ",
            "file": "resnet_ptq_qnn.json",
            "template": "huggingface/microsoft/resnet-50",
            "version": 1,
            "templateName": "resnet_ptq_qnn"
        },
        {
            "name": "Convert to Intel NPU",
            "file": "resnet_context_ov_static.json",
            "template": "huggingface/microsoft/resnet-50",
            "version": 1,
            "templateName": "resnet_context_ov_static"
        }
    ],
    "modelInfo": {
        "id": "huggingface/microsoft/resnet-50"
    }
}