{
    "workflows": [
        {
            "file": "resnet_qdq_qnn.json",
            "templateName": "resnet_qdq_qnn"
        },
        {
            "file": "resnet_qdq_amd.json",
            "templateName": "resnet_qdq_amd"
        },
        {
            "file": "resnet_context_ov_static.json",
            "templateName": "resnet_context_ov_static"
        },
        {
            "file": "resnet_trtrtx.json",
            "templateName": "resnet_trtrtx"
        }
    ],
    "modelInfo": {
        "id": "huggingface/microsoft/resnet-50",
        "version": 1
    }
}