{
    "sections": [
        {
            "name": "System Parameters",
            "description": "Parameters for the system"
        },
        {
            "name": "Model Parameters",
            "description": "Parameters for the model"
        },
        {
            "name": "Data Parameters",
            "description": "Parameters for the data"
        }
    ],
    "parameters": [
        {
            "name": "Quantize Dataset",
            "description": "",
            "type": "enum",
            "values": [
                "imagenet-1k"
            ],
            "template": "",
            "path": "data_configs[0].load_dataset_config.data_name",
            "section": "Data Parameters"
        },
        {
            "name": "Quantize Dataset Split",
            "description": "",
            "type": "enum",
            "values": [
                "train",
                "validation",
                "test"
            ],
            "template": "",
            "path": "data_configs[0].load_dataset_config.split",
            "section": "Data Parameters"
        },
        {
            "name": "Quantize Dataset Size",
            "description": "",
            "type": "int",
            "values": [],
            "template": {
                "name": "",
                "description": "",
                "type": "notSet",
                "values": [],
                "template": "QuantizeDatasetSize",
                "path": "data_configs[0].pre_process_data_config.size",
                "section": ""
            },
            "path": "data_configs[0].pre_process_data_config.size",
            "section": "Data Parameters"
        },
        {
            "name": "Evaluation Dataset",
            "description": "",
            "type": "enum",
            "values": [
                "imagenet-1k"
            ],
            "template": "",
            "path": "data_configs[1].load_dataset_config.data_name",
            "section": "Data Parameters"
        },
        {
            "name": "Evaluation Dataset Split",
            "description": "",
            "type": "enum",
            "values": [
                "train",
                "validation",
                "test"
            ],
            "template": "",
            "path": "data_configs[1].load_dataset_config.split",
            "section": "Data Parameters"
        },
        {
            "name": "Evaluation Dataset Size",
            "description": "",
            "type": "int",
            "values": [],
            "template": {
                "name": "",
                "description": "",
                "type": "notSet",
                "values": [],
                "template": "EvaluationDatasetSize",
                "path": "data_configs[1].pre_process_data_config.size",
                "section": ""
            },
            "path": "data_configs[1].pre_process_data_config.size",
            "section": "Data Parameters"
        },
        {
            "name": "Activation Type",
            "description": "Quantization data type of activation",
            "type": "enum",
            "values": [
                "QInt8",
                "QUInt8",
                "QInt16",
                "QUInt16"
            ],
            "template": {
                "name": "",
                "description": "",
                "type": "notSet",
                "values": [],
                "template": "ActivationType",
                "path": "passes.OnnxQuantization.activation_type",
                "section": ""
            },
            "path": "passes.OnnxQuantization.activation_type",
            "section": "Model Parameters"
        },
        {
            "name": "Weight Type",
            "description": "Data type for quantizing weights",
            "type": "enum",
            "values": [
                "QInt8",
                "QUInt8",
                "QInt16",
                "QUInt16"
            ],
            "template": {
                "name": "",
                "description": "",
                "type": "notSet",
                "values": [],
                "template": "WeightType",
                "path": "passes.OnnxQuantization.activation_type",
                "section": ""
            },
            "path": "passes.OnnxQuantization.weight_type",
            "section": "Model Parameters"
        }
    ]
}