{
    "workflows": [
        {
            "file": "bge-small-en-v1.5_qdq_qnn.json",
            "templateName": "bge-small-en-v1.5_qdq_qnn"
        },
        {
            "file": "bge-small-en-v1.5_qdq_amd.json",
            "templateName": "bge-small-en-v1.5_qdq_amd"
        },
        {
            "file": "bge-small-en-v1.5_context_ov_static.json",
            "templateName": "bge-small-en-v1.5_context_ov_static"
        }
    ],
    "modelInfo": {
        "id": "huggingface/BAAI/bge-small-en-v1.5",
        "version": 1
    }
}