{
    "copies": [
        {
            "src": "openai_clip_ov_inference_sample.ipynb",
            "dst": "openai_clip_qdq_amd_inference_sample.ipynb",
            "replacements": [
                {
                    "find": "OpenVINOExecutionProvider",
                    "replace": "VitisAIExecutionProvider"
                },
                {
                    "find": "./model/openvino_model_quant_st.onnx",
                    "replace": "./model/model.onnx"
                }
            ]
        },
        {
            "src": "openai_clip_trtrtx_inference_sample.ipynb",
            "dst": "openai_clip_dml_inference_sample.ipynb",
            "replacements": [
                {
                    "find": "NvTensorRTRTXExecutionProvider",
                    "replace": "DmlExecutionProvider"
                }
            ]
        }
    ]
}
