{
    "phases": [
        "Conversion",
        "Quantization",
        "Evaluation"
    ],
    "runtime": {
        "name": "Evaluate on",
        "type": "enum",
        "displayNames": [
            "Qualcomm NPU",
            "CPU"
        ],
        "path": "systems.host_system.accelerators.0.execution_providers.0",
        "values": [
            "QNNExecutionProvider",
            "CPUExecutionProvider"
        ],
        "fixed": false
    },
    "sections": [
        {
            "name": "Convert",
            "parameters": [],
            "toggle": {
                "name": "Convert to ONNX format",
                "type": "bool",
                "checks": [
                    {
                        "type": "exist",
                        "path": "passes.conversion"
                    },
                    {
                        "type": "notExist",
                        "path": "passes.conversion"
                    }
                ],
                "actions": [
                    [],
                    []
                ],
                "fixed": true
            }
        },
        {
            "name": "Quantize",
            "parameters": [
                {
                    "name": "Activation Type",
                    "description": "Quantization data type of activation. ‘QInt8’ for signed 8-bit integer, ‘QUInt8’ for unsigned 8-bit integer etc.",
                    "descriptionLink": "https://onnxruntime.ai/docs/performance/model-optimizations/quantization.html",
                    "type": "enum",
                    "displayType": "RadioGroup",
                    "path": "passes.quantization.activation_type",
                    "values": [
                        "QInt8",
                        "QUInt8",
                        "QInt16",
                        "QUInt16"
                    ],
                    "template": {
                        "path": "passes.quantization.activation_type",
                        "template": "ActivationType"
                    }
                },
                {
                    "name": "Weight Type",
                    "description": "Data type for quantizing weights. ‘QInt8’ for signed 8-bit integer, ‘QUInt8’ for unsigned 8-bit integer etc.",
                    "descriptionLink": "https://onnxruntime.ai/docs/performance/model-optimizations/quantization.html",
                    "type": "enum",
                    "displayType": "RadioGroup",
                    "path": "passes.quantization.weight_type",
                    "values": [
                        "QInt8",
                        "QUInt8",
                        "QInt16",
                        "QUInt16"
                    ],
                    "template": {
                        "path": "passes.quantization.weight_type",
                        "template": "WeightType"
                    }
                },
                {
                    "name": "Quantization Dataset",
                    "type": "enum",
                    "path": "data_configs[0].load_dataset_config.data_name",
                    "values": [
                        "nlphuji/flickr30k"
                    ]
                },
                {
                    "name": "Quantization Dataset Split",
                    "type": "enum",
                    "path": "data_configs[0].load_dataset_config.split",
                    "values": [
                        "test"
                    ]
                },
                {
                    "name": "Quantization Dataset Size",
                    "type": "int",
                    "path": "data_configs[0].pre_process_data_config.max_samples",
                    "template": {
                        "path": "data_configs[0].pre_process_data_config.max_samples",
                        "template": "QuantizationDatasetSize"
                    }
                }
            ],
            "toggle": {
                "name": "Quantize model",
                "type": "bool",
                "checks": [
                    {
                        "type": "exist",
                        "path": "passes.quantization"
                    },
                    {
                        "type": "notExist",
                        "path": "passes.quantization"
                    }
                ],
                "actions": [
                    [],
                    [
                        {
                            "type": "delete",
                            "path": "passes.to_fixed_shape"
                        },
                        {
                            "type": "delete",
                            "path": "passes.quantization"
                        }
                    ]
                ]
            }
        },
        {
            "name": "Evaluate",
            "parameters": [
                {
                    "name": "Evaluation Dataset",
                    "type": "enum",
                    "path": "data_configs[1].load_dataset_config.data_name",
                    "values": [
                        "nlphuji/flickr30k"
                    ]
                },
                {
                    "name": "Evaluation Dataset Split",
                    "type": "enum",
                    "path": "data_configs[1].load_dataset_config.split",
                    "values": [
                        "test"
                    ]
                },
                {
                    "name": "Evaluation Dataset Size",
                    "type": "int",
                    "path": "data_configs[1].pre_process_data_config.max_samples",
                    "template": {
                        "path": "data_configs[1].pre_process_data_config.max_samples",
                        "template": "EvaluationDatasetSize"
                    }
                }
            ],
            "toggle": {
                "name": "Evaluate model performance",
                "type": "bool",
                "checks": [
                    {
                        "type": "exist",
                        "path": "evaluator"
                    },
                    {
                        "type": "notExist",
                        "path": "evaluator"
                    }
                ],
                "actions": [
                    [],
                    [
                        {
                            "type": "delete",
                            "path": "evaluator"
                        }
                    ]
                ]
            }
        }
    ]
}