{
    "sections": [
        {
            "name": "Quantize",
            "description": "",
            "parameters": [
                {
                    "name": "Activation Type",
                    "description": "Quantization data type of activation",
                    "type": "enum",
                    "values": [
                        "QInt8",
                        "QUInt8",
                        "QInt16",
                        "QUInt16"
                    ],
                    "template": {
                        "name": "",
                        "description": "",
                        "type": "notSet",
                        "values": [],
                        "template": "ActivationType",
                        "path": "passes.quantization.activation_type",
                        "actions": []
                    },
                    "path": "passes.quantization.activation_type",
                    "actions": []
                },
                {
                    "name": "Weight Type",
                    "description": "Data type for quantizing weights",
                    "type": "enum",
                    "values": [
                        "QInt8",
                        "QUInt8",
                        "QInt16",
                        "QUInt16"
                    ],
                    "template": {
                        "name": "",
                        "description": "",
                        "type": "notSet",
                        "values": [],
                        "template": "WeightType",
                        "path": "passes.quantization.weight_type",
                        "actions": []
                    },
                    "path": "passes.quantization.weight_type",
                    "actions": []
                },
                {
                    "name": "Quantize Dataset",
                    "description": "",
                    "type": "enum",
                    "values": [
                        "timm/mini-imagenet"
                    ],
                    "template": "",
                    "path": "data_configs[0].load_dataset_config.data_name",
                    "actions": []
                },
                {
                    "name": "Quantize Dataset Split",
                    "description": "",
                    "type": "enum",
                    "values": [
                        "train",
                        "validation",
                        "test"
                    ],
                    "template": "",
                    "path": "data_configs[0].load_dataset_config.split",
                    "actions": []
                },
                {
                    "name": "Quantize Dataset Size",
                    "description": "",
                    "type": "int",
                    "values": [],
                    "template": {
                        "name": "",
                        "description": "",
                        "type": "notSet",
                        "values": [],
                        "template": "QuantizeDatasetSize",
                        "path": "data_configs[0].pre_process_data_config.max_samples",
                        "actions": []
                    },
                    "path": "data_configs[0].pre_process_data_config.max_samples",
                    "actions": []
                }
            ],
            "toggle": {
                "name": "Quantize model",
                "description": "",
                "type": "bool",
                "values": [
                    {
                        "type": "exist"
                    },
                    {
                        "type": "notExist"
                    }
                ],
                "template": "",
                "path": "passes.quantization",
                "actions": [
                    [],
                    [
                        {
                            "path": "passes.to_fixed_shape",
                            "type": "delete"
                        },
                        {
                            "path": "passes.qnn_preprocess",
                            "type": "delete"
                        },
                        {
                            "path": "passes.quantization",
                            "type": "delete"
                        }
                    ]
                ]
            }
        },
        {
            "name": "Evaluate",
            "description": "",
            "parameters": [
                {
                    "name": "Evaluation Dataset",
                    "description": "",
                    "type": "enum",
                    "values": [
                        "timm/mini-imagenet"
                    ],
                    "template": "",
                    "path": "data_configs[1].load_dataset_config.data_name",
                    "actions": []
                },
                {
                    "name": "Evaluation Dataset Split",
                    "description": "",
                    "type": "enum",
                    "values": [
                        "train",
                        "validation",
                        "test"
                    ],
                    "template": "",
                    "path": "data_configs[1].load_dataset_config.split",
                    "actions": []
                },
                {
                    "name": "Evaluation Dataset Size",
                    "description": "",
                    "type": "int",
                    "values": [],
                    "template": {
                        "name": "",
                        "description": "",
                        "type": "notSet",
                        "values": [],
                        "template": "EvaluationDatasetSize",
                        "path": "data_configs[1].pre_process_data_config.max_samples",
                        "actions": []
                    },
                    "path": "data_configs[1].pre_process_data_config.max_samples",
                    "actions": []
                }
            ],
            "toggle": {
                "name": "Evaluate model performance",
                "description": "",
                "type": "bool",
                "values": [
                    "common_evaluator",
                    ""
                ],
                "template": "",
                "path": "evaluator",
                "actions": []
            }
        }
    ]
}