{
    "workflows": [
        {
            "name": "LoRA",
            "description: "What is LoRA"
            "file": "lora\infra\finetuning.config.json",
            "template": "finetuning_configs\microsoft\phi-silica-3.6",
            "version": 1,
            "templateName": "lora"
        },
        {
            "name": "Soft Prompt",
            "description: "What is Soft Prompt"
            "file": "soft_prompt\infra\finetuning.config.json",
            "template": "finetuning_configs\microsoft\phi-silica-3.6",
            "version": 1,
            "templateName": "soft_prompt"
        }
    ],
    "modelInfo": {
        "id": "microsoft/phi-silica-3.6",
        "version": 1
    }
}
