{
    "copies": [
        {
            "src": "../../../deepseek-ai/DeepSeek-R1-Distill-Qwen-1.5B/1/deepseek_ov_config.json.config",
            "dst": "phi4_ov_config.json.config",
            "replacements": [
                {
                    "find": "deepseek/openvino/DeepSeek-R1-Distill-Qwen-1.5B_context_ov_dynamic_sym_gs128_bkp_int8_sym_r1.json",
                    "replace": "phi4/openvino/phi_4__reasoning/Phi-4-reasoning_context_ov_dynamic_sym_gs128_bkp_int8_sym.json"
                },
                {
                    "find": "\"addCpu\": false,",
                    "replace": "\"executeRuntimeFeatures\": [\"Nightly\"],\"addCpu\": false,"
                }
            ]
        },
        {
            "src": "../../../deepseek-ai/DeepSeek-R1-Distill-Qwen-1.5B/1/inference_sample.ipynb",
            "dst": "inference_sample.ipynb",
            "replacements": [
                {
                    "find": "<｜User｜>{input}<｜Assistant｜><think>",
                    "replace": "<|user|>\\\\n{input} <|end|>\\\\n<|assistant|>"
                },
                {
                    "find": "ExecutionProvider=\\\"QNNExecutionProvider\\\"",
                    "replace": "ExecutionProvider=\\\"OpenVINOExecutionProvider\\\""
                }
            ]
        },
        {
            "src": "../../Phi-3.5-mini-instruct/1/inference_model.json",
            "dst": "inference_model.json",
            "replacements": [
                {
                    "find": "Phi-3.5-mini-instruct-onnx",
                    "replace": "Phi-4-reasoning-onnx"
                }
            ]
        }
    ]
}
