{
  "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentParameters.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "defaultCommands": {
      "value": [ 
        {{&inferenceCommands}}
      ]
    },
    "maximumInstanceCount": {
      "value": 2
    },
    "location": {
      "value": null
    },
    "storageAccountName": {
      "value": null
    },
    "fileShareName": {
      "value": null
    },
    "acaEnvironmentName": {
      "value": null
    },
    "acaEnvironmentStorageName": {
      "value": null
    },
    "acaAppName": {
      "value": null
    },
    "acaLogAnalyticsName": {
      "value": null
    }
  }
}