{
    "copies": [
        {
            "src": "vit-base-patch16-224_qdq_amd.json.config",
            "dst": "vit-base-patch16-224_qdq_qnn.json.config",
            "replacements": [
                {
                    "find": "vit/vit_qdq_vitis_ai.json",
                    "replace": "vit/vit_qdq.json"
                },
                {
                    "find": "Convert to AMD NPU",
                    "replace": "Convert to Qualcomm NPU"
                }
            ]
        }
    ]
}