{
    "copies": [
        {
            "src": "vit-base-patch16-224.py",
            "dst": "vit-base-patch16-224-intel.py",
            "replacements": [
                {
                    "find": "from olive.data.registry import Registry",
                    "replace": "from olive.data.registry import Registry\nimport openvino as ov\nprint(f\"Available devices: {ov.Core().available_devices}\")"
                }
            ]
        },
        {
            "src": "vit-base-patch16-224.json",
            "dst": "vit-base-patch16-224-intel.json",
            "replacements": [
                {
                    "find": "passes.OnnxQuantization.activation_type",
                    "replace": "int8",
                    "type": "path"
                },
                {
                    "find": "passes.OnnxQuantization.weight_type",
                    "replace": "int8",
                    "type": "path"
                },
                {
                    "find": "QNNExecutionProvider",
                    "replace": "OpenVINOExecutionProvider"
                },
                {
                    "find": "evaluators.common_evaluator.metrics[0].user_config",
                    "replace": {
                        "inference_settings": {
                          "onnx": {
                            "execution_provider": "OpenVINOExecutionProvider",
                            "provider_options": [
                              { "device_type": "NPU", "enable_qdq_optimizer": true }
                            ]
                          }
                        }
                      },
                    "type": "pathAdd"
                },
                {
                    "find": "evaluators.common_evaluator.metrics[1].user_config",
                    "replace": {
                        "inference_settings": {
                          "onnx": {
                            "execution_provider": "OpenVINOExecutionProvider",
                            "provider_options": [
                              { "device_type": "NPU", "enable_qdq_optimizer": true }
                            ]
                          }
                        }
                      },
                    "type": "pathAdd"
                },
                {
                    "find": "vit-base-patch16-224.py",
                    "replace": "vit-base-patch16-224-intel.py"
                }
            ]
        },
        {
            "src": "vit-base-patch16-224.json.config",
            "dst": "vit-base-patch16-224-intel.json.config",
            "replacements": [
                {
                    "find": "\"template\": \"ActivationType\"",
                    "replace": "\"template\": \"ActivationTypeIntel\""
                },
                {
                    "find": "\"template\": \"WeightType\"",
                    "replace": "\"template\": \"WeightTypeIntel\""
                }
            ]
        }
    ]
}