{
    "workflows": [
        {
            "name": "Convert to QDQ",
            "file": "vit-base-patch16-224.json",
            "template": "huggingface/google/vit-base-patch16-224",
            "version": 1,
            "templateName": "vit-base-patch16-224",
            "phases": [
                "Conversion",
                "Quantization",
                "Evaluation"
            ]
        }
    ],
    "modelInfo": {
        "displayName": "google/vit-base-patch16-224",
        "icon": "gemini",
        "modelLink": "https://huggingface.co/google/vit-base-patch16-224",
        "id": "huggingface/google/vit-base-patch16-224",
        "runtimes": [
            "QNN"
        ],
        "architecture": "Transformer",
        "status": "Ready",
        "version": 1
    }
}