{
    "workflows": [
        {
            "name": "Convert to QDQ",
            "file": "vit-base-patch16-224.json",
            "template": "huggingface/google/vit-base-patch16-224",
            "version": 1,
            "templateName": "vit-base-patch16-224"
        },
        {
            "name": "Convert to Intel NPU",
            "file": "vit_base_patch16_224_context_ov_static.json",
            "template": "huggingface/google/vit-base-patch16-224",
            "version": 1,
            "templateName": "vit_base_patch16_224_context_ov_static"
        }
    ],
    "modelInfo": {
        "id": "huggingface/google/vit-base-patch16-224"
    }
}