{
    "workflows": [
        {
            "name": "Convert to QDQ",
            "file": "vit-base-patch16-224.json",
            "template": "huggingface/google/vit-base-patch16-224",
            "version": 1,
            "templateName": "vit-base-patch16-224"
        }
    ],
    "modelInfo": {
        "id": "huggingface/google/vit-base-patch16-224"
    }
}