{
    "copies": [
        {
            "src": "../../../deepseek-ai/DeepSeek-R1-Distill-Qwen-1.5B/1/model_project.config",
            "dst": "model_project.config",
            "replacements": [
                {
                    "find": "deepseek_qnn_config",
                    "replace": "llama3_2_qnn_config"
                }
            ]
        },
        {
            "src": "../../../deepseek-ai/DeepSeek-R1-Distill-Qwen-1.5B/1/deepseek_qnn_config.json",
            "dst": "llama3_2_qnn_config.json",
            "replacements": [
                {
                    "find": "deepseek-ai/DeepSeek-R1-Distill-Qwen-1.5B",
                    "replace": "meta-llama/Llama-3.2-1B-Instruct"
                },
                {
                    "find": "model/deepseek",
                    "replace": "model/llama3_2"
                }
            ]
        },
        {
            "src": "../../../deepseek-ai/DeepSeek-R1-Distill-Qwen-1.5B/1/deepseek_qnn_config.json.config",
            "dst": "llama3_2_qnn_config.json.config",
            "replacements": [
            ]
        },
        {
            "src": "../../../deepseek-ai/DeepSeek-R1-Distill-Qwen-1.5B/1/README.md",
            "dst": "README.md",
            "replacements": [
                {
                    "find": "# DeepSeek-R1-Distill-Qwen-1.5B Model Optimization",
                    "replace": "# Llama-3.2-1B-Instruct Model Optimization"
                },
                {
                    "find": "[DeepSeek-R1-Distill-Qwen-1.5B](https://huggingface.co/deepseek-ai/DeepSeek-R1-Distill-Qwen-1.5B)",
                    "replace": "[Llama-3.2-1B-Instruct](https://huggingface.co/meta-llama/Llama-3.2-1B-Instruct)"
                },
                {
                    "find": "model/deepseek",
                    "replace": "model/llama3_2"
                }
            ]
        },
        {
            "src": "../../../deepseek-ai/DeepSeek-R1-Distill-Qwen-1.5B/1/requirements.txt",
            "dst": "requirements.txt",
            "replacements": [
            ]
        },
        {
            "src": "../../../deepseek-ai/DeepSeek-R1-Distill-Qwen-1.5B/1/inference_sample.ipynb",
            "dst": "inference_sample.ipynb",
            "replacements": [
            ]
        }
    ]
}