{
    "workflows": [
        {
            "name": "Convert to QNN",
            "file": "llama3_2_qnn_config.json",
            "templateName": "llama3_2_qnn_config"
        },
        {
            "name": "Convert to AMD NPU",
            "file": "llama3_2_vitis_ai_config.json",
            "templateName": "llama3_2_vitis_ai_config"
        },
        {
            "name": "Convert to Intel NPU",
            "file": "llama3_2_ov_config.json",
            "templateName": "llama3_2_ov_config"
        },
        {
            "name": "Convert to NVIDIA GPU (TRT RTX)",
            "file": "llama3_2_trtrtx_config.json",
            "template": "huggingface/meta-llama/Llama-3.2-1B-Instruct",
            "version": 1,
            "templateName": "llama3_2_trtrtx_config"
        }
    ],
    "modelInfo": {
        "id": "huggingface/meta-llama/Llama-3.2-1B-Instruct",
        "version": 1
    }
}