{
    "workflows": [
        {
            "displayName": "Conversion Sample",
            "file": "sample.json",
            "templateName": "sample"
        }
    ],
    "modelInfo": {
        "id": "huggingface/empty",
        "version": 1,
        "displayName": "Model Project Template",
        "modelLink": "https://huggingface.co/"
    }
}
