{
    "phases": [
        "Conversion",
        "Quantization",
        "Evaluation"
    ],
    "runtime": {
        "name": "Evaluate on",
        "type": "enum",
        "displayNames": [
            "CPU"
        ],
        "path": "systems.local_system.accelerators.0.execution_providers.0",
        "values": [
            "CPUExecutionProvider"
        ],
        "fixed": false
    },
    "sections": [
        {
            "name": "Evaluate",
            "parameters": [
                {
                    "name": "Evaluation Dataset Size",
                    "type": "int",
                    "path": "data_configs[1].pre_process_data_config.max_samples"
                }
            ],
            "toggle": {
                "name": "Evaluate model performance",
                "type": "bool",
                "path": "evaluator",
                "actions": [
                    [],
                    [
                        {
                            "type": "delete",
                            "path": "evaluator"
                        }
                    ]
                ],
                "fixed": true
            }
        }
    ]
}