{
    "copies": [
        {
            "src": "../../../openai/clip-vit-base-patch16/1/model_project.config",
            "dst": "model_project.config",
            "replacements": [
                {
                    "find": "openai_clip",
                    "replace": "laion_clip"
                }
            ]
        },
        {
            "src": "../../../openai/clip-vit-base-patch16/1/openai_clip_text_qnn_inference_sample.ipynb",
            "dst": "laion_clip_text_qnn_inference_sample.ipynb",
            "replacements": [
                {
                    "find": "openai/clip-vit-base-patch16",
                    "replace": "laion/CLIP-ViT-B-32-laion2B-s34B-b79K"
                }
            ]
        },
        {
            "src": "../../../openai/clip-vit-base-patch16/1/openai_clip_text_qnn.json",
            "dst": "laion_clip_text_qnn.json",
            "replacements": [
                {
                    "find": "openai/clip-vit-base-patch16",
                    "replace": "laion/CLIP-ViT-B-32-laion2B-s34B-b79K"
                }
            ]
        },
        {
            "src": "../../../openai/clip-vit-base-patch16/1/openai_clip_text_qnn.json.config",
            "dst": "laion_clip_text_qnn.json.config",
            "replacements": [
                {
                    "find": "clip/qdq/openai_clip_text_b16_qdq.json",
                    "replace": "clip/qdq/laion_clip_text_b32_qdq.json"
                }
            ]
        },
        {
            "src": "../../../openai/clip-vit-base-patch16/1/openai_clip_vision_qnn_inference_sample.ipynb",
            "dst": "laion_clip_vision_qnn_inference_sample.ipynb",
            "replacements": [
                {
                    "find": "openai/clip-vit-base-patch16",
                    "replace": "laion/CLIP-ViT-B-32-laion2B-s34B-b79K"
                }
            ]
        },
        {
            "src": "../../../openai/clip-vit-base-patch16/1/openai_clip_vision_qnn.json",
            "dst": "laion_clip_vision_qnn.json",
            "replacements": [
                {
                    "find": "openai/clip-vit-base-patch16",
                    "replace": "laion/CLIP-ViT-B-32-laion2B-s34B-b79K"
                }
            ]
        },
        {
            "src": "../../../openai/clip-vit-base-patch16/1/openai_clip_vision_qnn.json.config",
            "dst": "laion_clip_vision_qnn.json.config",
            "replacements": [
                {
                    "find": "clip/qdq/openai_clip_vision_b16_qdq.json",
                    "replace": "clip/qdq/laion_clip_vision_b32_qdq.json"
                }
            ]
        },
        {
            "src": "../../../openai/clip-vit-base-patch16/1/openai_clip_ov_inference_sample.ipynb",
            "dst": "laion_clip_ov_inference_sample.ipynb",
            "replacements": [
                {
                    "find": "openai/clip-vit-base-patch16",
                    "replace": "laion/CLIP-ViT-B-32-laion2B-s34B-b79K"
                }
            ]
        },
        {
            "src": "../../../openai/clip-vit-base-patch16/1/openai_clip_ov.json",
            "dst": "laion_clip_ov.json",
            "replacements": [
                {
                    "find": "openai/clip-vit-base-patch16",
                    "replace": "laion/CLIP-ViT-B-32-laion2B-s34B-b79K"
                },
                {
                    "find": "openai_clip",
                    "replace": "laion_clip"
                },
                {
                    "find": "\"device\": \"npu\"\n",
                    "replace": "\"device\": \"npu\", \"library\": \"transformers\"\n"
                }
            ]
        },
        {
            "src": "../../../openai/clip-vit-base-patch16/1/openai_clip_ov.json.config",
            "dst": "laion_clip_ov.json.config",
            "replacements": [
                {
                    "find": "clip/openvino/clip_vit_base_patch16_context_ov_static.json",
                    "replace": "clip/openvino/clip_vit_b32_laion2b_s34B_b79k_context_ov_static.json"
                }
            ]
        },
        {
            "src": "../../../openai/clip-vit-base-patch16/1/openai_clip_qdq_amd_inference_sample.ipynb",
            "dst": "laion_clip_qdq_amd_inference_sample.ipynb",
            "replacements": [
                {
                    "find": "openai/clip-vit-base-patch16",
                    "replace": "laion/CLIP-ViT-B-32-laion2B-s34B-b79K"
                }
            ]
        },
        {
            "src": "../../../openai/clip-vit-base-patch16/1/openai_clip_qdq_amd.json",
            "dst": "laion_clip_qdq_amd.json",
            "replacements": [
                {
                    "find": "openai/clip-vit-base-patch16",
                    "replace": "laion/CLIP-ViT-B-32-laion2B-s34B-b79K"
                }
            ]
        },
        {
            "src": "../../../openai/clip-vit-base-patch16/1/openai_clip_qdq_amd.json.config",
            "dst": "laion_clip_qdq_amd.json.config",
            "replacements": [
                {
                    "find": "clip/openai_clip-vit-base-patch16_ptq_qdq_vitis_ai.json",
                    "replace": "clip/laion_CLIP-ViT-B-32-laion2B-s34B-b79K_ptq_qdq_vitis_ai.json"
                }
            ]
        },
        {
            "src": "../../../openai/clip-vit-base-patch16/1/openai_clip_trtrtx.json",
            "dst": "laion_clip_trtrtx.json",
            "replacements": [
                {
                    "find": "openai/clip-vit-base-patch16",
                    "replace": "laion/CLIP-ViT-B-32-laion2B-s34B-b79K"
                }
            ]
        },
        {
            "src": "../../../openai/clip-vit-base-patch16/1/openai_clip_trtrtx.json.config",
            "dst": "laion_clip_trtrtx.json.config",
            "replacements": [
                {
                    "find": "clip/openai_clip-vit-base-patch16_trtrtx.json",
                    "replace": "clip/laion_CLIP-ViT-B-32-laion2B-s34B-b79K_trtrtx.json"
                }
            ]
        },
        {
            "src": "../../../openai/clip-vit-base-patch16/1/openai_clip_trtrtx_inference_sample.ipynb",
            "dst": "laion_clip_trtrtx_inference_sample.ipynb",
            "replacements": [
                {
                    "find": "openai/clip-vit-base-patch16",
                    "replace": "laion/CLIP-ViT-B-32-laion2B-s34B-b79K"
                }
            ]
        },
        {
            "src": "../../../openai/clip-vit-base-patch16/1/clip_script.py",
            "dst": "clip_script.py"
        },
        {
            "src": "../../../openai/clip-vit-base-patch16/1/user_script.py",
            "dst": "user_script.py"
        },
        {
            "src": "../../../openai/clip-vit-base-patch16/1/openai_clip_ov.py",
            "dst": "laion_clip_ov.py"
        },
        {
            "src": "../../../openai/clip-vit-base-patch16/1/README.md",
            "dst": "README.md",
            "replacements": [
                {
                    "find": "Openai",
                    "replace": "Laion"
                }
            ]
        },
        {
            "src": "../../../openai/clip-vit-base-patch16/1/requirements.txt",
            "dst": "requirements.txt"
        }
    ]
}