{
    "copies": [
        {
            "src": "../../../openai/clip-vit-base-patch16/1/.gitignore",
            "dst": ".gitignore"
        },
        {
            "src": "../../../openai/clip-vit-base-patch16/1/model_project.config",
            "dst": "model_project.config",
            "replacements": [
                {
                    "find": "openai/clip-vit-base-patch16",
                    "replace": "laion/CLIP-ViT-B-32-laion2B-s34B-b79K"
                },
                {
                    "find": "openai_clip",
                    "replace": "laion_clip"
                }
            ]
        },
        {
            "src": "../../../openai/clip-vit-base-patch16/1/openai_clip_text_qnn_inference_sample.ipynb",
            "dst": "laion_clip_text_qnn_inference_sample.ipynb",
            "replacements": [
                {
                    "find": "openai/clip-vit-base-patch16",
                    "replace": "laion/CLIP-ViT-B-32-laion2B-s34B-b79K"
                }
            ]
        },
        {
            "src": "../../../openai/clip-vit-base-patch16/1/openai_clip_text_qnn.json",
            "dst": "laion_clip_text_qnn.json",
            "replacements": [
                {
                    "find": "openai/clip-vit-base-patch16",
                    "replace": "laion/CLIP-ViT-B-32-laion2B-s34B-b79K"
                },
                {
                    "find": "openai_clip",
                    "replace": "laion_clip"
                }
            ]
        },
        {
            "src": "../../../openai/clip-vit-base-patch16/1/openai_clip_text_qnn.json.config",
            "dst": "laion_clip_text_qnn.json.config"
        },
        {
            "src": "../../../openai/clip-vit-base-patch16/1/openai_clip_vision_qnn_inference_sample.ipynb",
            "dst": "laion_clip_vision_qnn_inference_sample.ipynb",
            "replacements": [
                {
                    "find": "openai/clip-vit-base-patch16",
                    "replace": "laion/CLIP-ViT-B-32-laion2B-s34B-b79K"
                }
            ]
        },
        {
            "src": "../../../openai/clip-vit-base-patch16/1/openai_clip_vision_qnn.json",
            "dst": "laion_clip_vision_qnn.json",
            "replacements": [
                {
                    "find": "openai/clip-vit-base-patch16",
                    "replace": "laion/CLIP-ViT-B-32-laion2B-s34B-b79K"
                },
                {
                    "find": "openai_clip",
                    "replace": "laion_clip"
                }
            ]
        },
        {
            "src": "../../../openai/clip-vit-base-patch16/1/openai_clip_vision_qnn.json.config",
            "dst": "laion_clip_vision_qnn.json.config"
        },
        {
            "src": "../../../openai/clip-vit-base-patch16/1/openai_clip.py",
            "dst": "laion_clip.py"
        },
        {
            "src": "../../../openai/clip-vit-base-patch16/1/README.md",
            "dst": "README.md",
            "replacements": [
                {
                    "find": "Openai",
                    "replace": "Laion"
                }
            ]
        },
        {
            "src": "../../../openai/clip-vit-base-patch16/1/requirements.txt",
            "dst": "requirements.txt"
        }
    ]
}