{
    "workflows": [
        {
            "file": "laion_clip_text_qnn.json",
            "templateName": "laion_clip_text_qnn"
        },
        {
            "file": "laion_clip_vision_qnn.json",
            "templateName": "laion_clip_vision_qnn"
        },
        {
            "file": "laion_clip_qdq_amd.json",
            "templateName": "laion_clip_qdq_amd"
        },
        {
            "file": "laion_clip_ov.json",
            "templateName": "laion_clip_ov"
        },
        {
            "file": "laion_clip_trtrtx.json",
            "templateName": "laion_clip_trtrtx"
        },
        {
            "file": "laion_clip_dml.json",
            "templateName": "laion_clip_dml"
        }
    ],
    "modelInfo": {
        "id": "huggingface/laion/CLIP-ViT-B-32-laion2B-s34B-b79K",
        "version": 1
    }
}