{
    "workflows": [
        {
            "name": "Convert to QDQ",
            "file": "deepseek_qdq_config.json",
            "template": "huggingface/deepseek-ai/DeepSeek-R1-Distill-Qwen-1.5B",
            "version": 1,
            "templateName": "deepseek_qdq_config",
            "phases": [
                "Conversion",
                "Quantization"
            ],
            "useModelBuilder": true
        }
    ],
    "modelInfo": {
        "displayName": "deepseek-ai/DeepSeek-R1-Distill-Qwen-1.5B",
        "icon": "DeepSeek",
        "modelLink": "https://huggingface.co/deepseek-ai/DeepSeek-R1-Distill-Qwen-1.5B",
        "id": "huggingface/deepseek-ai/DeepSeek-R1-Distill-Qwen-1.5B",
        "runtimes": [
            "QNN"
        ],
        "architecture": "Transformer",
        "status": "Ready",
        "version": 1
    }
}