{
    "workflows": [
        {
            "file": "deepseek_qnn_config.json",
            "templateName": "deepseek_qnn_config"
        },
        {
            "file": "deepseek_vitis_ai_config.json",
            "templateName": "deepseek_vitis_ai_config"
        },
        {
            "file": "deepseek_ov_config.json",
            "templateName": "deepseek_ov_config"
        },
        {
            "name": "Convert to NVIDIA GPU (TRT RTX)",
            "file": "deepseek_trtrtx_config.json",
            "template": "huggingface/deepseek-ai/DeepSeek-R1-Distill-Qwen-1.5B",
            "version": 1,
            "templateName": "deepseek_trtrtx_config"
        }
    ],
    "modelInfo": {
        "id": "huggingface/deepseek-ai/DeepSeek-R1-Distill-Qwen-1.5B",
        "version": 1
    }
}