{
    "sections": [
        {
            "name": "System Parameters",
            "description": "Parameters for the system"
        },
        {
            "name": "Model Parameters",
            "description": "Parameters for the model"
        },
        {
            "name": "Data Parameters",
            "description": "Parameters for the data"
        }
    ],
    "parameters": [
        {
            "path": "passes.OnnxQuantization.weight_type",
            "template": "WeightType",
            "section": "Model Parameters"
        },
        {
            "path": "passes.OnnxQuantization.activation_type",
            "template": "ActivationType",
            "section": "Model Parameters"
        },
        {
            "path": "data_configs[0].load_dataset_config.data_name",
            "name": "Training Dataset",
            "type": "enum",
            "values": [
                {
                    "name": "ImageNet 1k",
                    "value": "imagenet-1k",
                    "discription": "ImageNet dataset with 1000 classes"
                }
            ],
            "section": "Data Parameters"
        },
        {
            "path": "data_configs[0].load_dataset_config.split",
            "name": "Training Dataset Split",
            "type": "enum",
            "values": [
                "train",
                "validation",
                "test"
            ],
            "section": "Data Parameters"
        },
        {
            "path": "data_configs[1].load_dataset_config.data_name",
            "name": "Evaluation Dataset",
            "type": "enum",
            "values": [
                {
                    "name": "ImageNet 1k",
                    "value": "imagenet-1k",
                    "discription": "ImageNet dataset with 1000 classes"
                }
            ],
            "section": "Data Parameters"
        },
        {
            "path": "data_configs[1].load_dataset_config.split",
            "name": "Evaluation Dataset Split",
            "type": "enum",
            "values": [
                "train",
                "validation",
                "test"
            ],
            "section": "Data Parameters"
        },
        {
            "path": "systems.qnn_system.accelerators[0].execution_providers[0]",
            "name": "Execution Provider",
            "type": "enum",
            "values": [
                "QNNExecutionProvider",
                "CPUExecutionProvider"
            ],
            "section": "System Parameters"
        }
    ]
}
