--extra-index-url https://download.pytorch.org/whl/cu124
torch==2.4.0+cu124
torchvision==0.19.0+cu124
torchaudio==2.4.0+cu124
transformers==4.43.4
accelerate==0.30.0
bitsandbytes==0.43.1
datasets==2.19.1
peft==0.10.0
scikit-learn==1.4.2
sentencepiece==0.2.0
trl==0.8.6
protobuf==3.20.3
ipykernel==6.29.4
onnxruntime-gpu==1.19.0
einops==0.8.0
promptflow==1.10.1
promptflow-tools==1.4.0
gradio==4.43.0
onnxruntime-genai-cuda==0.4.0
optimum==1.21.4
olive_ai==0.7.0