--extra-index-url https://download.pytorch.org/whl/cu118
torch
torchvision
torchaudio
transformers==4.37.2
accelerate==0.23.0
bitsandbytes==0.41.1
peft==0.5.0
protobuf==3.20.3
wandb==0.15.12
onnxruntime-gpu==1.16.1
gradio==4.26.0
