{
    "copies": [
        {
            "src": "../../../deepseek-ai/DeepSeek-R1-Distill-Qwen-1.5B/1/model_project.config",
            "dst": "model_project.config",
            "replacements": [
                {
                    "find": "deepseek_qnn_config",
                    "replace": "qwen2_5_qnn_config"
                },
                {
                    "find": "deepseek_vitis_ai_config",
                    "replace": "qwen2_5_vitis_ai_config"
                }
            ]
        },
        {
            "src": "../../../deepseek-ai/DeepSeek-R1-Distill-Qwen-1.5B/1/deepseek_qnn_config.json",
            "dst": "qwen2_5_qnn_config.json",
            "replacements": [
                {
                    "find": "deepseek-ai/DeepSeek-R1-Distill-Qwen-1.5B",
                    "replace": "Qwen/Qwen2.5-1.5B-Instruct"
                },
                {
                    "find": "model/deepseek",
                    "replace": "model/qwen2_5"
                }
            ]
        },
        {
            "src": "../../../deepseek-ai/DeepSeek-R1-Distill-Qwen-1.5B/1/deepseek_qnn_config.json.config",
            "dst": "qwen2_5_qnn_config.json.config",
            "replacements": [
            ]
        },
        {
            "src": "../../../deepseek-ai/DeepSeek-R1-Distill-Qwen-1.5B/1/deepseek_vitis_ai_config.json",
            "dst": "qwen2_5_vitis_ai_config.json",
            "replacements": [
                {
                    "find": "deepseek-ai/DeepSeek-R1-Distill-Qwen-1.5B",
                    "replace": "Qwen/Qwen2.5-1.5B-Instruct"
                },
                {
                    "find": "model/deepseek",
                    "replace": "model/qwen2_5"
                }
            ]
        },
        {
            "src": "../../../deepseek-ai/DeepSeek-R1-Distill-Qwen-1.5B/1/deepseek_vitis_ai_config.json.config",
            "dst": "qwen2_5_vitis_ai_config.json.config",
            "replacements": [
            ]
        },
        {
            "src": "../../../deepseek-ai/DeepSeek-R1-Distill-Qwen-1.5B/1/README.md",
            "dst": "README.md",
            "replacements": [
                {
                    "find": "# DeepSeek-R1-Distill-Qwen-1.5B Model Optimization",
                    "replace": "# Qwen2.5-1.5B-Instruct Model Optimization"
                },
                {
                    "find": "[DeepSeek-R1-Distill-Qwen-1.5B](https://huggingface.co/deepseek-ai/DeepSeek-R1-Distill-Qwen-1.5B)",
                    "replace": "[Qwen2.5-1.5B-Instruct](https://huggingface.co/Qwen/Qwen2.5-1.5B-Instruct)"
                },
                {
                    "find": "> ⚠️ If got 6033 error, replace `genai_config.json` in `./model` folder",
                    "replace": ""
                }
            ]
        },
        {
            "src": "../../../deepseek-ai/DeepSeek-R1-Distill-Qwen-1.5B/1/requirements.txt",
            "dst": "requirements.txt",
            "replacements": [
            ]
        },
        {
            "src": "../../../deepseek-ai/DeepSeek-R1-Distill-Qwen-1.5B/1/inference_sample.ipynb",
            "dst": "inference_sample.ipynb",
            "replacements": [
                {
                    "find": "<｜User｜>{input}<｜Assistant｜><think>",
                    "replace": "<|im_start|>user\\\\n{input}<|im_end|>\\\\n<|im_start|>assistant\\\\n"
                }
            ]
        }
    ]
}