{
    "copies": [
        {
            "src": "../../../deepseek-ai/DeepSeek-R1-Distill-Qwen-1.5B/1/model_project.config",
            "dst": "model_project.config",
            "replacements": [
                {
                    "find": "deepseek_qnn_config",
                    "replace": "qwen2_5_qnn_config"
                },
                {
                    "find": "deepseek_vitis_ai_config",
                    "replace": "qwen2_5_vitis_ai_config"
                },
                {
                    "find": "deepseek_ov_config",
                    "replace": "qwen2_5_ov_config"
                },
                {
                    "find": "deepseek_trtrtx_config",
                    "replace": "qwen2_5_trtrtx_config"
                },
                {
                    "find": "deepseek-ai/DeepSeek-R1-Distill-Qwen-1.5B",
                    "replace": "Qwen/Qwen2.5-1.5B-Instruct"
                },
                {
                    "find": "deepseek_dml_config",
                    "replace": "qwen2_5_dml_config"
                }
            ]
        },
        {
            "src": "../../../deepseek-ai/DeepSeek-R1-Distill-Qwen-1.5B/1/deepseek_qnn_config.json",
            "dst": "qwen2_5_qnn_config.json",
            "replacements": [
                {
                    "find": "deepseek-ai/DeepSeek-R1-Distill-Qwen-1.5B",
                    "replace": "Qwen/Qwen2.5-1.5B-Instruct"
                },
                {
                    "find": "model/deepseek",
                    "replace": "model/qwen2_5"
                }
            ]
        },
        {
            "src": "../../../deepseek-ai/DeepSeek-R1-Distill-Qwen-1.5B/1/deepseek_qnn_config.json.config",
            "dst": "qwen2_5_qnn_config.json.config",
            "replacements": []
        },
        {
            "src": "../../../deepseek-ai/DeepSeek-R1-Distill-Qwen-1.5B/1/deepseek_vitis_ai_config.json",
            "dst": "qwen2_5_vitis_ai_config.json",
            "replacements": [
                {
                    "find": "deepseek-ai/DeepSeek-R1-Distill-Qwen-1.5B",
                    "replace": "Qwen/Qwen2.5-1.5B-Instruct"
                },
                {
                    "find": "model/deepseek",
                    "replace": "model/qwen2_5"
                }
            ]
        },
        {
            "src": "../../../deepseek-ai/DeepSeek-R1-Distill-Qwen-1.5B/1/deepseek_vitis_ai_config.json.config",
            "dst": "qwen2_5_vitis_ai_config.json.config",
            "replacements": []
        },
        {
            "src": "../../../deepseek-ai/DeepSeek-R1-Distill-Qwen-1.5B/1/deepseek_ov_config.json",
            "dst": "qwen2_5_ov_config.json",
            "replacements": [
                {
                    "find": "deepseek-ai/DeepSeek-R1-Distill-Qwen-1.5B",
                    "replace": "Qwen/Qwen2.5-1.5B-Instruct"
                },
                {
                    "find": "model/deepseek",
                    "replace": "model/qwen2_5"
                }
            ]
        },
        {
            "src": "../../../deepseek-ai/DeepSeek-R1-Distill-Qwen-1.5B/1/deepseek_ov_config.json.config",
            "dst": "qwen2_5_ov_config.json.config",
            "replacements": [
                {
                    "find": "deepseek/openvino/DeepSeek-R1-Distill-Qwen-1.5B_context_ov_dynamic_sym_gs128_bkp_int8_sym_r1.json",
                    "replace": "qwen2_5/openvino/Qwen2.5-1.5B-instruct_context_ov_dynamic_sym_bkp_int8_sym_r1.json"
                }
            ]
        },
        {
            "src": "../../../deepseek-ai/DeepSeek-R1-Distill-Qwen-1.5B/1/deepseek_trtrtx_config.json",
            "dst": "qwen2_5_trtrtx_config.json",
            "replacements": [
                {
                    "find": "deepseek-ai/DeepSeek-R1-Distill-Qwen-1.5B",
                    "replace": "Qwen/Qwen2.5-1.5B-Instruct"
                },
                {
                    "find": "model/deepseek",
                    "replace": "model/qwen2_5"
                }
            ]
        },
        {
            "src": "../../../deepseek-ai/DeepSeek-R1-Distill-Qwen-1.5B/1/deepseek_dml_config.json",
            "dst": "qwen2_5_dml_config.json",
            "replacements": [
                {
                    "find": "deepseek-ai/DeepSeek-R1-Distill-Qwen-1.5B",
                    "replace": "Qwen/Qwen2.5-1.5B-Instruct"
                },
                {
                    "find": "model/deepseek",
                    "replace": "model/qwen2_5"
                }
            ]
        },
        {
            "src": "../../../deepseek-ai/DeepSeek-R1-Distill-Qwen-1.5B/1/deepseek_trtrtx_config.json.config",
            "dst": "qwen2_5_trtrtx_config.json.config",
            "replacements": []
        },
        {
            "src": "../../../deepseek-ai/DeepSeek-R1-Distill-Qwen-1.5B/1/deepseek_dml_config.json.config",
            "dst": "qwen2_5_dml_config.json.config",
            "replacements": []
        },
        {
            "src": "../../../deepseek-ai/DeepSeek-R1-Distill-Qwen-1.5B/1/README.md",
            "dst": "README.md",
            "replacements": [
                {
                    "find": "# DeepSeek-R1-Distill-Qwen-1.5B Model Optimization",
                    "replace": "# Qwen2.5-1.5B-Instruct Model Optimization"
                },
                {
                    "find": "[DeepSeek-R1-Distill-Qwen-1.5B](https://huggingface.co/deepseek-ai/DeepSeek-R1-Distill-Qwen-1.5B)",
                    "replace": "[Qwen2.5-1.5B-Instruct](https://huggingface.co/Qwen/Qwen2.5-1.5B-Instruct)"
                },
                {
                    "find": "> ⚠️ If got 6033 error, replace `genai_config.json` in `./model` folder",
                    "replace": ""
                }
            ]
        },
        {
            "src": "../../../deepseek-ai/DeepSeek-R1-Distill-Qwen-1.5B/1/requirements.txt",
            "dst": "requirements.txt",
            "replacements": []
        },
        {
            "src": "../../../deepseek-ai/DeepSeek-R1-Distill-Qwen-1.5B/1/inference_sample.ipynb",
            "dst": "inference_sample.ipynb",
            "replacements": [
                {
                    "find": "<｜User｜>{input}<｜Assistant｜><think>",
                    "replace": "<|im_start|>user\\\\n{input}<|im_end|>\\\\n<|im_start|>assistant\\\\n"
                }
            ]
        },
        {
            "src": "../../../Intel/bert-base-uncased-mrpc/1/winml.py",
            "dst": "winml.py"
        }
    ]
}
