{
    "workflows": [
        {
            "name": "Convert to QNN",
            "file": "qwen2_5_qnn_config.json",
            "template": "huggingface/Qwen/Qwen2.5-1.5B-Instruct",
            "version": 1,
            "templateName": "qwen2_5_qnn_config"
        },
        {
            "name": "Convert to AMD NPU",
            "file": "qwen2_5_vitis_ai_config.json",
            "template": "huggingface/Qwen/Qwen2.5-1.5B-Instruct",
            "version": 1,
            "templateName": "qwen2_5_vitis_ai_config"
        },
        {
            "name": "Convert to Intel NPU",
            "file": "qwen2_5_ov_config.json",
            "template": "huggingface/Qwen/Qwen2.5-1.5B-Instruct",
            "version": 1,
            "templateName": "qwen2_5_ov_config"
        }
    ],
    "modelInfo": {
        "id": "huggingface/Qwen/Qwen2.5-1.5B-Instruct"
    }
}