{
    "workflows": [
        {
            "name": "Convert to QNN",
            "file": "qwen2_5_qnn_config.json",
            "template": "huggingface/Qwen/Qwen2.5-1.5B-Instruct",
            "version": 1,
            "templateName": "qwen2_5_qnn_config",
            "phases": [
                "Conversion",
                "Quantization"
            ],
            "useModelBuilder": true,
            "isGPURequired": true
        }
    ],
    "modelInfo": {
        "id": "huggingface/Qwen/Qwen2.5-1.5B-Instruct"
    }
}