{
    "workflows": [
        {
            "file": "qwen2_5_qnn_config.json",
            "templateName": "qwen2_5_qnn_config"
        },
        {
            "file": "qwen2_5_vitis_ai_config.json",
            "templateName": "qwen2_5_vitis_ai_config"
        },
        {
            "file": "qwen2_5_ov_config.json",
            "templateName": "qwen2_5_ov_config"
        },
        {
            "file": "qwen2_5_trtrtx_config.json",
            "templateName": "qwen2_5_trtrtx_config"
        }
    ],
    "modelInfo": {
        "id": "huggingface/Qwen/Qwen2.5-1.5B-Instruct",
        "version": 1
    }
}