{
    "modelMetadata": {
        "name": "Model",
        "template": "TEMPLATE_ID",
        "icon": "ms"
    },
    "templates": [
        {
            "name": "Template A",
            "description": "Explain what the template is about",
            "file": "olive_config.json",
            "features": ["Conversion", "Evaluation"],
            "template": "TEMPLATE_ID"
        },
        {
            "name": "Template B",
            "description": "Explain what the template is about",
            "file": "olive_config.json",
            "features": ["Conversion", "Evaluation"],
            "template": "TEMPLATE_ID"
        }
    ]
}